@use '../variables.scss';

.header{
 background-color: variables.$color-greenPrimary;
 height: 130px;
 margin-bottom: 25px;
 padding: 10px, 20px;
 border: solid variables.$color-greenSecondary ;
 border-radius: 1px;
 box-sizing: border-box;


    &_article{
        &--logo{
            background-color: variables.$color-greenSecondary;
            border-radius: 8%;
            width: 70px;
            height: 70px;
            position: absolute;
            margin-top: 30px;
            margin-left: 60px;
        }

        &--link1{
            background-color: variables.$color-greenSecondary;
            border-radius: 1px; 
            width: 180px;
            height: 25px;
            position: absolute;
            margin-top: 55px;
            margin-left: 650px;

        }

        &--link2{
            background-color: variables.$color-greenSecondary;
            border-radius: 1px; 
            width: 180px;
            height: 25px;
            position: absolute;
            margin-top: 55px;
            margin-left: 850px;

        }

        &--link3{
            background-color: variables.$color-greenSecondary;
            border-radius: 1px; 
            width: 180px;
            height: 25px;
            position: absolute;
            margin-top: 55px;
            margin-left: 1050px;

        }

        &--profile{
            background-color: variables.$color-greenSecondary;
            border-radius: 1px; 
            width: 75px;
            height: 75px;  
            border-radius: 50%;
            position: absolute;
            margin-top: 25px;
            margin-left: 1300px;
        }

    }
}