@use '../variables.scss';

.section{
    &_article1{
        background-color: variables.$color-yellow;
        width: 400px;
        height: 180px;
        position: absolute;
        margin: -440px 20px 45px 430px;
        padding: 25px;
        border-radius: 8px;
    }

    &_title{
        width: 110px;
        height: 14px;
        background-color: white;
        margin-bottom: 18px;
        border-radius: 5%;
    }

    &_paragraph{
        &--article{
            background-color: white;
            width: 280px;
            height: 10px;
            margin-top: 15px;
            border-radius: 5%;

        }
    }

    &_links{
        position: relative;
        margin-top: 40px;
        margin-left: 215px;

        &--link1-1{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: white;
            margin-top: -5px;
        }

        &--link1-2{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: white;
            margin-left: 45px;
            position: absolute;
            margin-top: -30px;
        }

        &--link1-3{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: white;
            margin-left: 90px;
            position: absolute;
            margin-top: -30px;
        }
    }

    &_article2{
        background-color: variables.$color-orange;
        width: 400px;
        height: 180px;
        position: absolute;
        margin: -440px 20px 45px 930px;
        padding: 25px;
        border-radius: 8px;
    }

    &_links2{
        position: relative;
        margin-top: 40px;
        margin-left: 215px;

        &--link2-1{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: white;
            margin-top: -5px;
        }

        &--link2-2{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: white;
            margin-left: 45px;
            position: absolute;
            margin-top: -30px;
        }

        &--link2-3{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: white;
            margin-left: 90px;
            position: absolute;
            margin-top: -30px;
        }
    }



    &_article3{
        background-color: variables.$color-red;
        width: 400px;
        height: 180px;
        position: absolute;
        margin: -182px 20px 30px 440px;
        padding: 25px;
        border-radius: 8px;
    }

    &_links3{
        position: relative;
        margin-top: 40px;
        margin-left: 215px;

        &--link3-1{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: white;
            margin-top: -5px;
        }

        &--link3-2{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: white;
            margin-left: 45px;
            position: absolute;
            margin-top: -30px;
        }

        &--link3-3{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: white;
            margin-left: 90px;
            position: absolute;
            margin-top: -30px;
        }
    }


    &_article4{
        background-color: variables.$color-purple;
        width: 400px;
        height: 180px;
        position: absolute;
        margin: -182px 20px 30px 930px;
        padding: 25px;
        border-radius: 8px;
    }

    &_links4{
        position: relative;
        margin-top: 40px;
        margin-left: 215px;

        &--link4-1{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: white;
            margin-top: -5px;
        }

        &--link4-2{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: white;
            margin-left: 45px;
            position: absolute;
            margin-top: -30px;
        }

        &--link4-3{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: white;
            margin-left: 90px;
            position: absolute;
            margin-top: -30px;
        }
    }
}